<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>todo7 | Productivity Hack App</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/" class="title">todo7</a>
      </header>
      <div class="jumbotron items">
        <h2 class="text-center">I want to...</h2>

          <!--<form action="/todo/add/" method="post">-->
            <div class="input-group">
              <input type="text" name="newtodo" id="newtodo" class="form-control" placeholder="add a new task" autofocus>
              <div class="input-group-btn">
                <!--<button class="btn btn-default" type="submit">-->
                <button class="btn btn-default moreDetails">
                  <i class="glyphicon glyphicon-plus-sign"></i>
                </button>
              </div>
            </div>
            <br />
            <form action="/todo/add/" method="post" class="form-horizontal detail-form" onsubmit="return isFormSane()">
              <input type="text" name="todosent" id="todosent" hidden="true">
                <div class="form-group">
                  <label class="control-label col-sm-4" for="startdate">Start Date:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="startdate" name="startdate">
                  </div>
                </div>
                <!--
                <div class="form-group">
                  <label class="control-label col-sm-4" for="enddate">End Date:</label>
                  <div class="col-sm-8">
                    <input type="date" class="form-control" id="enddate" name="enddate">
                  </div>
                </div>
              -->
                <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Location:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="location" name="location" placeholder="Where is this event happening?">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Attendees:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="attendees" name="attendees" placeholder="Seperate names with commas">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-4" for="pwd">Comments:</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" id="comments" name="comments" placeholder="Extra Details">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-4 col-sm-10">
                    <button type="submit" class="btn btn-default">Save</button>
                  </div>
                </div>
              </form>

          <br />
          <!-- tasks.forEach(function(todo, index){ -->
            <a href="/todo/detailed" class="btn btn-default btn-detailed" >
              <%
                if(detailed === 0){
              %>
              Detailed View
              <%
                } else {
              %>
              List View
              <% } %>
            </a>
          <br /><br />
          <%
            if(tasks.length == 0) {
          %>
          <p class="list-group-item text-center no-events">
            No Events to Display!
          </p>
          <% } %>
          <ul class="list-group">
            <%
               for(var index = 0;index < tasks.length; index ++){
                    if(index < completed.length && completed[index] !== 0){
            %>
            <li class="list-group-item completed">
            <% } else { %>
            <li class="list-group-item">
            <% } %>
              <a href="/todo/delete/<%= index %>"><i class="glyphicon glyphicon-trash delete"></i></a> <%= tasks[index][0] %>
              <a href="/todo/okay/<%= index %>"><span class="glyphicon glyphicon-ok-sign okay controls"></span></a>
              <!--<a href="#"><span class="glyphicon glyphicon-pencil edit controls"></span></a>-->
              <%
                  if(detailed === 1){
              %>
              <hr />
              Date :
              <%= tasks[index][1] %>
              <br /> Location :
               <%= tasks[index][2] %>
               <br /> Attendees :
               <%= tasks[index][3] %>
               <br /> Comments :
               <%= tasks[index][4] %>
              <%
                }
              %>
            </li>
            <% } %>
          </ul>
          <br />
          <%
            if(tasks.length > 0) {
          %>
          <a href="/todo/deleteAll" class="btn btn-danger">Clear All</a>
          <% } %>

         </div>
       </div>

       <button type="button"  class="btn btn-modal btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">An error occured!</h4>
        </div>
        <div class="modal-body">
          <p id="error-text">Please fill in all the details.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script>
      document.getElementById('startdate').valueAsDate = new Date();
      $("newtodo").keyup(function(){
          $("todosent").val($(this).val());
      });
      $(".moreDetails").click(function(){
        if($("#newtodo").val() !== ''){
          $("#todosent").val($("#newtodo").val());
          $(".detail-form").slideToggle("slow");
        }
      });
      $('#newtodo').keypress(function(e){
        if(e.which == 13){
            $('.moreDetails').click();
        }
      });
      function isFormSane(){
          if($("#todosent").val() === '' || $("#startdate").val() === '' || $("#comments").val() === '' ||
                $("#location").val() === '' || $("#attendees").val() === ''){
                  /*
                  $('.btn-modal').click(function(e){
                    e.preventDefault();
                    var mymodal = $('#myModal');
                    mymodal.find('.modal-body').text('Please fill in all the details');
                    mymodal.modal('show');
                  });
                  */
            console.log("tes");
            $('.btn-modal').click();
            return false;
          }
        return true;
      }
/*
v
*/
  </script>
  </body>
</html>