@import url('https://fonts.googleapis.com/css?family=Raleway|Satisfy');

*{
  margin: 0;
  border: 0;
}
body{
  background:#3EC1D3;
  font-family: 'Raleway', sans-serif;
}

header{
  text-align: center;
}
.title{
  font-weight: 900;
  font-size: 4em;
  color: #FFF;
}
.title:hover{
  color: #F6F7D7;
  cursor: pointer;
}

.jumbotron{
  background:  #F6F7D7;
  color: #212121;
  width: 75%;
  margin: 5% auto;
}



.completed{
    background: #40514E;
    color:white;
}
.controls{
  float: right;
  margin-right: 3%;
  margin-left: 3%;
}
.okay{
  color: #3FC1C9;
}
.delete{
  color: #FC5185;
  margin-right: 3%;
}
i, span{
  font-size: 1.1em;
}
.list-group-item{
  font-family: 'Satisfy', cursive;
  font-size: 1.8em;
}



.detail-form{
  display: none;
}

.btn-detailed, .btn-danger{
  min-width: 150px;
  max-width: 150px;
  margin-left: 40%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.btn-modal{
  display: none;
}


.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #FF2E63;
    color:#FFF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }